__pycache__/
.ipynb_checkpoints/
.idea/
jnb/
temp/
.pytest_cache/
output/
log/
src/mlruns
data/predicts
data/models/top_emp
data/models/top_emp_val
data/models/top_pos
data/models/top_pos_val
data/models/opp
data/models/opp_val
data/fcst_data/top_emp/dicts/data_property.pkl
data/fcst_data/top_pos/dicts/data_property.pkl
data/dicts/data_property_top_emp.pkl
data/dicts/data_property_top_pos.pkl
data/dicts/emb_sizes_top_emp.pkl
data/dicts/emb_sizes_top_pos.pkl
data/dicts/mapping_dict_top_emp.pkl
data/dicts/mapping_dict_top_pos.pkl
data/dicts/scaler_dict_top_emp.pkl
data/dicts/scaler_dict_top_pos.pkl
*.ini
!pgbouncer/pgbouncer.ini
id_ed*
*.log
*.csv
*.gz
*.mem
*.xlsx
*.xls
*.dat
*.docx
*.rpt
*.zip
*.parquet
*.ipynb
*.bak
*.png